@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    margin: 0;
}
.MainShadowBox {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.PrimaryButton {
    background-color: #034c8c;
    border-radius: 8px;
    color: white;
    font-weight: 400;
}
.PrimaryButton:hover {
    opacity: 80%;
}
.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.Header_NavBar {
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 4px 60px;
}
.Header_NavItem {
    min-width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
}
.Header_Logo {
    font-style: bold;
    font-size: 30px;
    font-style: Roboto;
}
.Header_NavItem:hover {
    font-style: bold;
    font-weight: 700;
    transform: scale(1.1);
    transition: all;
    cursor: pointer;
}

.wrapper {
    background-image: url(../../public/BackgroundGadientTopDown.png);
    background-repeat: repeat-x;
    width: auto;
    min-height: 100vh;
}
.BgHero {
    background-image: url("../../public/bgHero.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.textSection_PrimaryText {
    font-size: 56px;
    font-weight: bold;
    max-width: 703px;
    min-height: 140px;
}
.textSection_SubText {
    font-size: 24px;
    min-width: 100%;
    color: #333333;
}
.EmailVoucherLabel {
    color: #334e68;
    font-weight: 700;
}
.EmailVoucherInput {
    border: #333333 solid 1px;
    border-radius: 10px;
    min-width: 340px;
    min-height: 44px;
}

.MainServicesContent {
    background: url("../../public/backgroundServicesContent.png") no-repeat;
    min-height: 320px;
    min-width: 1140px;
}
.topMainServicesContent {
    top: -50px;
}
.serviceItem {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.serviceItem:hover {
    background-color: #fff;
    border: solid black 1px;
}
.suggestLocationList {
    width: 75%;
    min-height: 340px;
}
.suggestLocationList_title {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.suggestLocationList_subTitle {
    font-size: 16px;
    font-weight: 400;
}
.LocationList {
    border-radius: 30px;
}

.LocationItem {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f0f0f0;
    height: 100%;
    padding: 8px 4px;
}

.Item_LocationOnMap {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 550;
}

.Item_Location_Day1_title {
    font-weight: bold;
    font-size: 20px;
}
.Item_Location_Day1_CounterPlace {
    color: grey;
    font-weight: 600;
}
.LocationItem img {
    width: 280px;
    height: 200px;
    border-radius: 30px;
}
.Item_Location_Day1_PricePerDay {
    font-size: large;
    font-weight: 500;
    color: darkblue;
}
